/* $Id$ */

.pi-related-delete-link,
.pi-related-add-form-contents {
  display: none;
}

li:hover .pi-related-delete-link {
  display: inline-block;
}

.pi-related-add-form {
  margin-bottom: 1em;
}

#pi-related-add-form-toggle {
  margin-bottom: 1em;
}

.pi-related-add-form-contents #edit-target-nid-wrapper,
.pi-related-add-form-contents #edit-relationship-id-wrapper {
  float: left;
  margin-right: 1em;
}

.pi-related-add-form-contents #edit-target-nid-wrapper label {
  display: inline;
}

.pi-related-add-form-contents #pi-related-add-form-cancel,
.pi-related-add-form-contents .form-submit {
  margin-top: 1.4em;
  margin-bottom: 1em;
}

#pi-related-error-message {
  width: auto;
  float: left;
  padding: 0 1em;
}
